@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.modal {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

/* Modo oscuro */
:root {
  --background-dark: #1a1a1a;
  --text-dark: #ffffff;
  --card-dark: #2d2d2d;
  --hover-dark: #3d3d3d;
}

.dark {
  @apply bg-gray-900 text-white;
}

.dark .bg-white {
  @apply bg-gray-800;
}

.dark .text-gray-900 {
  @apply text-white;
}

.dark .text-gray-800 {
  @apply text-gray-100;
}

.dark #testimonio {
  @apply text-gray-100!important;
}

.dark .text-gray-700 {
  @apply text-gray-200;
}

.dark .text-gray-600 {
  @apply text-gray-300;
}

.dark .border-gray-200 {
  @apply border-gray-700;
}

.dark .shadow-md {
  @apply shadow-gray-900;
}

.dark .hover\:shadow-lg:hover {
  @apply shadow-gray-900;
}

.dark .hover\:bg-blue-700:hover {
  @apply bg-blue-800;
}

.dark .bg-blue-600 {
  @apply bg-blue-700;
}

.dark .prose {
  @apply text-gray-300;
}

.dark #blog {
  @apply bg-gray-600;
}

.dark #about {
  @apply bg-gray-600;
}

.dark #contact {
  @apply bg-gray-600;

}